/*Table of content*
* 1. GENERAL STYLING
* 2. LAYOUT
* 3. DRESSES
* 4. BEST SELLER
* 5. INDEX
*/


/*1. GENERAL STYLING*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

a,a:visited, a:active{
    text-decoration: none;
    color:black;
}

a:hover {
    color:rgb(104, 104, 104);
}

.page-item.active .page-link {
    background-color: grey ;
    border-color: #dee2e6 ;
}

.page-item a:hover {
    color: grey;
}

/*2. LAYOUT*/
#site-name {
    font-family: 'Lato', sans-serif;
}

#site-name a:hover{
    color:black;
}


#main-nav{
    font-family: 'Lato', sans-serif;
}

#main-nav ul{
    list-style-type: none;
}

#main-nav li{
    display: inline-block;

}

#main-nav li a {
    border-bottom: 2px solid transparent;
}

#main-nav li a:hover {
    border-bottom: 2px solid rgb(104, 104, 104);
}


/*3. DRESSES*/
.products-row img {
    width:100%;
   
}

.product-description i, 
.best-seller-products i{
    transition: transform 0.2s linear, color 0.2s linear;
   
}

.product-description i:hover, .best-seller-products i:hover{
    transform: scale(1.3);
}

.fa-cart-plus {
    color:rgba(0, 0, 0, 0.5);
}

.fa-cart-plus:hover {
    color:black;
}


.fa-heart {
    color:rgba(255, 0, 0, 0.5);
}

.fa-heart:hover{
    color: red;
}


.product-name {
    font-weight: lighter;
}

.align-left{
    float: left;
    
}

.align-right{
    float: right;
}


.price {
    font-size: 13px;
    font-weight: bold;
    clear: both;
    display:block;
    float:left;
}

.discount {
    font-size: 13px;
    font-weight: bold;
   color:Red;
   display: block;
   float:left;
}


.pagination{
    justify-content: center;
}

/*BEST SELLER*/

.best-seller-products {
   overflow-x: scroll;
   overflow-y: hidden;
   white-space: nowrap;
   width: 100%;
   height: auto;
}

.best-seller-products > .items{
    display: inline-block;
    margin-right: 15px;
}

.best-seller-products img {
    width: 200px;
}


/* INDEX */
.home-hero img{
    width:100%;
}

.home-hero-title-container {
    background-color: #e5cdbf;
}

.home-hero-title-container a{
    border: 2px solid white;
    color: white;
    transition: color 0.3s linear, background-color 0.3s linear;
}

.home-hero-title-container a:hover{
    background-color: white;
    color: #e5cdbf;
}


.promotion, .category{
    background-color: #e5cdbf;
    margin: 0 auto;
    border-radius: 20px;
}

.promotion {
    width:130px;
}

.category {
    width:200px;
}



.home-promotion img{
    width:100%;
}


.individual-category img {
    width:150px;
    height:150px;
    border-radius: 50%;
    display:block;
    margin:0 auto;
}



.individual-category{
    position: relative;
}


.individual-category img{
    opacity: 0.5;

}


.individual-category a{
   color:black;
}


.individual-category a:hover{
    font-weight: bold;
 }



.individual-category p{
    position: absolute;
    width: 90%;
    top:45%;
    
}