extends layout 

block layout-content
    #hero
        h1.page-title Welcome to ComfySofa
        //below image retrieve from Unsplash by Phillip Goldsberry
        img(id="hero-image" alt="a green velvet loveseat sofa" src="https://images.unsplash.com/photo-1555041469-a586c61ea9bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80")
        p The most aesthetic and afforable sofas you can find in GTA!
    h2.bestseller Best Seller
    .flex-container
        .item1 
            //below image retrieve from Unsplash by Martin Péchy
            img(alt="a leather brown loveseat sofa" src="https://images.unsplash.com/photo-1549187774-b4e9b0445b41?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80")
            p Alex
        .item2
            //below image retrieve from Michiel Annaert
            img(alt="a grey cotton sectional sofa" src="https://images.unsplash.com/photo-1605365070248-299a182a2ca6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80")
            p Juno
        .item3 
            //below image retrieve from Unsplash by Sven Brandsma
            img(alt="" src="https://images.unsplash.com/photo-1550581190-9c1c48d21d6c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1709&q=80")
            p Alpha