extend layout

block layout-content 
    //These images below are copyright free images from: https://unsplash.com/s/photos/prom-dress
    .container
        nav(aria-label="breadcrumb").mt-3
            ol.breadcrumb
                li.breadcrumb-item
                    a(href="/") Home
                li.breadcrumb-item.active(aria-current="page") Dresses
        h1.h2.py-3 2022 Prom Dresses
        .row.products-row
            .col-6.col-md-4.col-lg-3.mb-3
                img(src="https://images.unsplash.com/photo-1601653311204-38ac329d790e?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774" alt="beige sparkle bodycon cocktail long dress")
                .product-description.mt-2
                    p.align-left.product-name Las Vegas
                    a(href="#")
                        i.fa-solid.fa-cart-plus.fa-xl.mt-2.align-right
                    a(href="#")
                        i.fa-solid.fa-heart.fa-xl.mt-2.me-2.align-right
                    p.price CAD $215.00
                   
            .col-6.col-md-4.col-lg-3.mb-3
                img(src="https://images.unsplash.com/photo-1612878569417-a62601be8d7d?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774" alt="short blue v neck dress")
                .product-description.mt-2
                    p.align-left.product-name Hawaii 
                    a(href="#")
                        i.fa-solid.fa-cart-plus.fa-xl.mt-2.align-right
                    a(href="#")
                        i.fa-solid.fa-heart.fa-xl.mt-2.me-2.align-right
                    p.price.text-decoration-line-through CAD $135.00
                    p.discount.ms-3 $99.99
                    
            .col-6.col-md-4.col-lg-3.mb-3
                img(src="https://images.unsplash.com/photo-1508742345712-0656a285ac27?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774" alt="red silk long dress")
                .product-description.mt-2
                    p.align-left.product-name Chicago 
                    a(href="#")
                        i.fa-solid.fa-cart-plus.fa-xl.mt-2.align-right
                    a(href="#")
                        i.fa-solid.fa-heart.fa-xl.mt-2.me-2.align-right
                    p.price CAD $187.00
            .col-6.col-md-4.col-lg-3.mb-3
                img(src="https://images.unsplash.com/photo-1571682262898-48532c58b3a1?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774" alt="Yellow off shoulder split long dress")
                .product-description.mt-2
                    p.align-left.product-name Tainan City 
                    a(href="#")
                        i.fa-solid.fa-cart-plus.fa-xl.mt-2.align-right
                    a(href="#")
                        i.fa-solid.fa-heart.fa-xl.mt-2.me-2.align-right
                    p.price CAD $215.00
            .col-6.col-md-4.col-lg-3.mb-3
                img(src="https://images.unsplash.com/photo-1527189919029-aeb3d997547d?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=770" alt="red bodycon mermaid long dress")
                .product-description.mt-2
                    p.align-left.product-name Mexico City
                    a(href="#")
                        i.fa-solid.fa-cart-plus.fa-xl.mt-2.align-right
                    a(href="#")
                        i.fa-solid.fa-heart.fa-xl.mt-2.me-2.align-right
                    p.price CAD $198.00
            .col-6.col-md-4.col-lg-3.mb-3
                img(src="https://images.unsplash.com/photo-1579328064848-53fe6c665058?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774" alt="white long sleeves v neck front split long dress")
                .product-description.mt-2
                    p.align-left.product-name Athens 
                    a(href="#")
                        i.fa-solid.fa-cart-plus.fa-xl.mt-2.align-right
                    a(href="#")
                        i.fa-solid.fa-heart.fa-xl.mt-2.me-2.align-right
                    p.price CAD $199.99
            .col-6.col-md-4.col-lg-3.mb-3
                img(src="https://images.unsplash.com/photo-1571969596006-b36a63748c76?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774" alt="gold 70s style short dress")
                .product-description.mt-2
                    p.align-left.product-name Muruntau 
                    a(href="#")
                        i.fa-solid.fa-cart-plus.fa-xl.mt-2.align-right
                    a(href="#")
                        i.fa-solid.fa-heart.fa-xl.mt-2.me-2.align-right
                    p.price.text-decoration-line-through CAD $120.00
                    p.discount.ms-3 $99.99
            .col-6.col-md-4.col-lg-3.mb-3
                img(src="https://images.unsplash.com/photo-1539008835657-9e8e9680c956?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774" alt="blue silk open chest long dress")
                .product-description.mt-2
                    p.align-left.product-name Cuba 
                    a(href="#")
                        i.fa-solid.fa-cart-plus.fa-xl.mt-2.align-right
                    a(href="#")
                        i.fa-solid.fa-heart.fa-xl.mt-2.me-2.align-right
                    p.price CAD $160.00
            .col-6.col-md-4.col-lg-3.mb-3
                img(src="https://images.unsplash.com/photo-1547697933-66bcb20f114a?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774" alt="silver sparkle long sleeves low back long dress")
                .product-description.mt-2
                    p.align-left.product-name Antwerp 
                    a(href="#")
                        i.fa-solid.fa-cart-plus.fa-xl.mt-2.align-right
                    a(href="#")
                        i.fa-solid.fa-heart.fa-xl.mt-2.me-2.align-right
                    p.price CAD $355.00
            .col-6.col-md-4.col-lg-3.mb-3
                img(src="https://images.unsplash.com/photo-1612336307429-8a898d10e223?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774" alt="red long sleeves turtle neck half short half long dress")
                .product-description.mt-2
                    p.align-left.product-name Kuwait 
                    a(href="#")
                        i.fa-solid.fa-cart-plus.fa-xl.mt-2.align-right
                    a(href="#")
                        i.fa-solid.fa-heart.fa-xl.mt-2.me-2.align-right
                    p.price CAD $230.00
            .col-6.col-md-4.col-lg-3.mb-3
                img(src="https://images.unsplash.com/photo-1551621955-fa07d4b1376b?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774" alt="beight layer cake long dress and beight feather long dress")
                .product-description.mt-2
                    p.align-left.product-name Mississauga 
                    a(href="#")
                        i.fa-solid.fa-cart-plus.fa-xl.mt-2.align-right
                    a(href="#")
                        i.fa-solid.fa-heart.fa-xl.mt-2.me-2.align-right
                    p.price CAD $499.99
            .col-6.col-md-4.col-lg-3.mb-3
                img(src="https://images.unsplash.com/photo-1550928431-ee0ec6db30d3?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774" alt="red off the should silk and lace short dress")
                .product-description.mt-2
                    p.align-left.product-name Havana 
                    a(href="#")
                        i.fa-solid.fa-cart-plus.fa-xl.mt-2.align-right
                    a(href="#")
                        i.fa-solid.fa-heart.fa-xl.mt-2.me-2.align-right
                    p.price.text-decoration-line-through CAD $185.00
                    p.discount.ms-3 $99.99
        nav(aria-label="Page navigation example")
            ul.pagination
                li.page-item.disabled
                    a(href="#" aria-label="Previous").page-link
                        span(aria-hidden="true") &laquo;
                        span.sr-only Previous
                li.page-item.active
                    a(href="#").page-link 1
                li.page-item
                    a(href="#").page-link 2
                li.page-item
                    a(href="#").page-link 3
                li.page-item
                    a(href="#").page-link 4
                li.page-item
                    a(href="#").page-link 5
                li.page-item
                    a(href="#" aria-label="Next").page-link
                        span(aria-hidden="true") &raquo;
                        span.sr-only Next
            
