extends layout 

block layout-content
    //These images below are copyright free images from: https://unsplash.com/s/photos/prom-dress
    .container-fluid
        .row.home-hero
            .col-md-5.p-0
                img(src="https://images.unsplash.com/photo-1608955020374-2f3d2a53f971?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1774" alt="girls at prom")
            .col-md-7.p-0.order-first.order-md-last.home-hero-title-container
                .home-hero-title.text-white.py-5.mx-3
                    h1 All Girls Can Be Prom Queens.
                    p Come and find your perfect dress.
                    p.mb-5 - All short dresses now only $99.99! -
                    a.py-2.px-5(href="#") Shop Now
    .container.mt-5.home-category
        p.category.py-2.text-white.text-center Shop By Category
        .row.mt-2.text-center
            .col-6.col-sm-4.col-md-3.my-2.individual-category
                a(href="#")
                    img(src="https://images.unsplash.com/photo-1601653311204-38ac329d790e?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774" alt="beige sparkle bodycon cocktail long dress")
                    p Long Dress
            .col-6.col-sm-4.col-md-3.my-2.individual-category
                a(href="#")
                    img(src=" https://images.unsplash.com/photo-1554787497-98caae0f95df?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774" alt="brown short sleeves sparkle short dress")
                    p Short Dress
            .col-6.col-sm-4.col-md-3.my-2.individual-category
                a(href="#")
                    img(src="https://images.unsplash.com/photo-1547697933-66bcb20f114a?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774" alt="silver sparkle long sleeves low back long dress")
                    p Sparkle Dress
            .col-6.col-sm-4.col-md-3.my-2.individual-category
                a(href="#")
                    img(src="https://images.unsplash.com/photo-1550928431-ee0ec6db30d3?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774" alt="red off the should silk and lace short dress")
                    p Lace Dress
            .col-6.col-sm-4.col-md-3.my-2.individual-category
                a(href="#")
                    img(src="https://images.unsplash.com/photo-1527189919029-aeb3d997547d?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=770" alt="red bodycon mermaid long dress")
                    p Red Dress
            .col-6.col-sm-4.col-md-3.my-2.individual-category
                a(href="#")
                    img(src="https://images.unsplash.com/photo-1539008835657-9e8e9680c956?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774" alt="blue silk open chest long dress")
                    p V Neck Dress
    .container.mt-5.home-promotion
        p.promotion.py-2.text-white.text-center Promotions
        h2.text-center All short dresses are now only $99.99!!!
        .row
                .col-6.col-md-3
                    img(src="https://images.unsplash.com/photo-1612878569417-a62601be8d7d?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774" alt="short blue v neck dress")
                    .product-description.mt-2
                        p.align-left.product-name Hawaii 
                        a(href="#")
                            i.fa-solid.fa-cart-plus.fa-xl.mt-2.align-right
                        a(href="#")
                            i.fa-solid.fa-heart.fa-xl.mt-2.me-2.align-right
                        p.price.text-decoration-line-through CAD $135.00
                        p.discount.ms-3 $99.99
                .col-6.col-md-3
                    img(src="https://images.unsplash.com/photo-1571969596006-b36a63748c76?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774" alt="gold 70s style short dress")
                    .product-description.mt-2
                        p.align-left.product-name Muruntau 
                        a(href="#")
                            i.fa-solid.fa-cart-plus.fa-xl.mt-2.align-right
                        a(href="#")
                            i.fa-solid.fa-heart.fa-xl.mt-2.me-2.align-right
                        p.price.text-decoration-line-through CAD $120.00
                        p.discount.ms-3 $99.99
                .col-6.col-md-3
                    img(src="https://images.unsplash.com/photo-1550928431-ee0ec6db30d3?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774" alt="red off the should silk and lace short dress")
                    .product-description.mt-2
                        p.align-left.product-name Havana 
                        a(href="#")
                            i.fa-solid.fa-cart-plus.fa-xl.mt-2.align-right
                        a(href="#")
                            i.fa-solid.fa-heart.fa-xl.mt-2.me-2.align-right
                        p.price.text-decoration-line-through CAD $185.00
                        p.discount.ms-3 $99.99
                .col-6.col-md-3
                    img(src=" https://images.unsplash.com/photo-1554787497-98caae0f95df?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774" alt="brown short sleeves sparkle short dress")
                    .product-description.mt-2
                    p.align-left.product-name Bombay
                    a(href="#")
                        i.fa-solid.fa-cart-plus.fa-xl.mt-2.align-right
                    a(href="#")
                        i.fa-solid.fa-heart.fa-xl.mt-2.me-2.align-right
                    p.price.text-decoration-line-through CAD $175.00
                        p.discount.ms-3 $99.99